.head-options {
	margin-top:20px;
	background-color:#918591;
	padding:20px 20px;
}

.head-options ul{
	margin-left:25%;
}

.head-options ul li{
	display:inline-block;
	float:none;
	text-align:center;
}

.head-options ul li a{
	font-size:12pt;
	font-family:Sans-serif;
	padding:30px 20px;
	text-decoration:none;
	list-style-type:none;
	color:white;
	transition:0.6s ease;
}

.head-options ul li a:hover{
	border-bottom:2px solid white;
	background-color:#CAC0CA;
	color:black;
	font-size:13pt;
}

.toggle-btn span{
	width:30px;
	height:4px;
	background-color:white;
	display:block;
	margin-top:4px;
}
#cart
{
	position:absolute;
	top:45px;
	left:1430px;
	
}
#login
{
	position:absolute;
	top:45.5px;
	left:1360px;
}
#sizechart
{
	position:absolute;
	top:150px;
	left:1430px;
}
#Sidebar{
	width:250px;
	height:100%;
	background-color:#5D6D7E;
	position:absolute;
	left:-300px;	
	top:3%;
}

#Sidebar.active{
	left:0;
	transition:0.6s ease;
	
}
	
#Sidebar ul li{
	
	border:1px;
	text-align:left;
	list-style:none;
	color:black;
	font-size:15pt;
	padding:25.5px 1px;
	margin-left:-40px;
}

#Sidebar ul li:hover{
	background-color:#c5ccd3;
	border-bottom:2pt solid #374049;
	color:black;
	transition:0.6s ease;
}

#Sidebar ul li a{
	text-decoration:none;
	color:white;
	transition:0.6s ease;
	padding:10px 20px;
}

#Sidebar ul li a:hover{
	color:#21262c;
}

#Sidebar .toggle-btn{
	position:absolute;
	top:30px;
	left:330px;
}
.klcct
{
	position:absolute;
	top:150px;
	left:300px;
}
.klcct1
{
	position:absolute;
	top:150px;
	left:800px;
}
.description
{
	text-align:center;
	font-style:italic;
	position:absolute;
	top:570px;
	left:540px;
}
body{
	font-family:Yu Gothic UI;
	font-size:14pt;
	background-color:#D9D3DA;
	opacity:0.7;
	
}